<%= form_for @page do |f| %>
  <% if page.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, "ページ名" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.label :url, "URL" %>
    <%= f.text_field :url, class: "form-control" %>
    <%= f.label :tag_list, "タグ(カンマ区切り)" %><br>
    <%= text_field_tag 'page[tag_list]', @page.tag_list.join(','), class: "form-control" %>
    <br>
    <%= f.submit "登録", class: "btn btn-primary" %>
    <%= link_to '戻る', pages_path, class: "btn btn-warning" %>
  </div>
<% end %>
