<div id="index" class="container">
<h1>ページ一覧</h1>
<p id="notice"><%= notice %></p>
<p><%= link_to 'New Page', new_page_path %></p>
<% @pages.each do |page| %>
  <div class="page col-sm-3">
    <div class="contents-area">
      <p class="title"><%= page.name %></p>
      <p class="url"><%= link_to page.url, page.url %></p>
    </div>
    <p class="update_time right">更新日時：<%= format_date(page.updated_at) %></p>
    <div class="btn-area right">
      <%= link_to 'Show', page, class: "btn btn-info btn-sm" %></td>
      <%= link_to 'Edit', edit_page_path(page), class: "btn btn-warning btn-sm" %></td>
      <%= link_to 'Destroy', page, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure?' } %></td>
    </div>
  </div>
<% end %>
</div>