<div id="index" class="container">
<p class="right">
  <%= link_to new_page_path, class: "btn btn-success" do %>
    <%= glyph("pushpin") %> 新規投稿
  <% end %>
</p>
<% @pages.each do |page| %>
  <div class="col-sm-3 area">
    <div class="page">
      <div class="contents-area">
        <p class="title"><%= page.name %></p>
        <p class="url"><%= link_to page.url, page.url %></p>
      </div>
      <p class="update_time right">更新日時：<%= format_date(page.updated_at) %></p>
      <div class="btn-area right">
        <%= link_to page, class: "btn btn-info btn-sm" do %>
          <%= glyph("eye-open") %>
        <% end %>
        <%= link_to edit_page_path(page), class: "btn btn-warning btn-sm" do %>
          <%= glyph("edit") %>
        <% end %>
        <%= link_to page, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "#{page.name}を削除してよろしいですか？" } do %>
          <%= glyph("trash") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>