<div id="index" class="container">
  <% if !@user.id.nil? %>
    <p class="right">
      <%= link_to all_read_pages_path, class: "btn btn-info", method: :patch do %>
        <%= glyph("eye-open") %> 全てを既読にする
      <% end %>
      <%= link_to new_page_path, class: "btn btn-success" do %>
        <%= glyph("pushpin") %> 新規投稿
      <% end %>
    </p>
  <% end %>
  <% @pages.each do |page| %>
    <%= render 'page_info', page: page %>
  <% end %>
  <div class="index_pager col-md-12 col-sm-12">
    <%= paginate(@pages) %>
  </div>
</div>