<div id="show" class="container">
  <div class="detail-area">
    <h1>
      <% if user_signed_in? %>
        <%= render "favorite_form", { page: @page } %>
      <% end %>
      <%= @page.name %>
    </h1>
    <div class="content-area">
      <p class="url">URL</p>
      <p class="url">
        <% if @page.is_favorited?(@user) %>
          <%= link_to @page.url,  read_page_path(@page, url: @page.url), :target=>["_blank"] %>
        <% else %>
          <%= link_to @page.url, @page.url, :target=>["_blank"] %>
        <% end %>
      </p>
      <h4 class="tags_area">
        <% @page.tag_list.each do |tag| %>
          <%= link_to tag, search_pages_path(search_text: tag), class: "label label-large label-primary" %>
        <% end %>
      </h4>
      <p class="right">更新日時：<%= format_date(@page.updated_at) %></p>
      <div class="btn-area right">
        <% if @page.user_id == @user.id %>
          <%= link_to '編集', edit_page_path(@page), class: "btn btn-warning" %>
          <%= link_to '削除', @page, method: :delete, class: "btn btn-danger", data: { confirm: "#{@page.name}を削除してよろしいですか？" } %>
        <% end %>
        <button id="tweetBtn" class="btn btn-success">
          <%= glyph("retweet") %>
        </button>
        <%= link_to '戻る', pages_path, class: "btn btn-info" %>
      </div>
      <hr>
      <div class="comments_area">
      <% if user_signed_in? %>
        <%= render 'comments/form' %>
        <hr>
      <% end %>
        <%= render 'comments/index' %>
      </div>
    </div>
  </div>
</div>
<script>
  // Tweet文字列生成メソッド
  function make_tweet_string(){
    var tweet_string = "- Moookからお知らせ - \n"
                      + "タイトル：<%= @page.name %> \n"
                      + "URL：<%= @page.url %> \n"
                      + "このページ見てみてヽ(´ｴ`)ﾉ！\n"
                      + "https://moook.herokuapp.com/ \n"
                      + "#Moook";
    return tweet_string;
  }
  // Tweetボタンを取得
  var tweet_btn = document.getElementById("tweetBtn");
  tweet_btn.addEventListener('click', function(){
    window.open(
        "https://twitter.com/intent/tweet?text=" + 
        encodeURIComponent(make_tweet_string())
    );
  });
</script>