<div id="show" class="container">
  <div class="detail-area col-md-7 col-sm-12">
    <h2>
      <%= @page.name %>
    </h2>
    <div class="image-area">
      <div class="info">
        <% if user_signed_in? %>
          <%= render "favorite_form", { page: @page } %>
        <% end %>
      </div>
      <img class="page-image" src=<%= set_page_img(@page.image_src) %> >
    </div>
    <div class="content-area">
      <p class="update_date">
        <h4>更新日時</h4>
        <%= format_date(@page.page_update_date) %>
      </p>
      <p>
        <h4>URL</h4>
        <p class="url">
          <% if @page.is_favorited?(@user) %>
            <%= link_to @page.url,  read_page_path(@page, url: @page.url), target: ["_blank"], method: :patch  %>
          <% else %>
            <%= link_to @page.url, @page.url, :target=>["_blank"] %>
          <% end %>
        </p>
      </p>
      <h4 class="tags_area">
        <p>タグリスト</p>
        <% @page.tag_list.each do |tag| %>
          <%= link_to tag, search_pages_path(search_text: tag), class: "tag label label-large label-primary" %>
        <% end %>
      </h4>
      <hr>
      <div class="btn-area right">
            <% if @page.user_id == @user.id %>
              <%= link_to edit_page_path(@page), class: "btn" do %>
                <%= glyph("edit") %>Edit
              <% end %>
              <%= link_to @page, method: :delete, class: "btn", data: { confirm: "#{@page.name}を削除してよろしいですか？" } do %>
                <%= glyph("trash") %>Destory
              <% end %>
            <% end %>
        <button id="tweetBtn" class="btn">
          <%= glyph("retweet") %>Retweet
        </button>
        <%= link_to pages_path, class: "btn" do %>
          <%= glyph("arrow-left") %>Back
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-5 col-sm-12" style="margin: 0px; padding: 0px;">
    <div class="comments_area">
      <h3>コメント</h3>
      <% if user_signed_in? %>
        <%= render 'comments/form' %>
        <hr>
      <% end %>
      <% if @comments.present? %>
        <%= render 'comments/index' %>
      <% else %>
        <p>コメントはありません</p>
      <% end %>
    </div>
  </div>
</div>
<script>
  // Tweet文字列生成メソッド
  function make_tweet_string(){
    var tweet_string = " - オススメのページ - \n"
                      + "タイトル:<%= @page.name %>\n"
                      + "<%= request.url %>\n"
                      + "#Moook #<%= @page.name %>";
    return tweet_string;
  }
  // Tweetボタンを取得
  var tweet_btn = document.getElementById("tweetBtn");
  tweet_btn.addEventListener('click', function(){
    window.open(
        "https://twitter.com/intent/tweet?text=" + 
        encodeURIComponent(make_tweet_string())
    );
  });
</script>